<!DOCTYPE html>
<html>
<head>
	<title>Stats Block Widget Flat Responsive Widget Template :: w3layouts</title>
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Stats Block Widget Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
			   function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //for-mobile-apps -->
	<!-- chart -->
	<script src="~/GraphsAssets/js/Chart.js"></script>
	<!-- //chart -->
	<script type='text/javascript' src="js/jquery-1.11.2.min.js"></script>
	<link href="~/GraphsAssets/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css">

</head>
<body>
	<!-- main -->
	<h1>Your Wallet Graph</h1>
	<div class="main box box5 shadow5">
		<div class="main_left">
			<h2>Name Surname <span>Stats</span></h2>
			<canvas id="bar" height="195" width="250" style="width: 250px; height: 195px"></canvas>
			<script>
				var barChartData = {
					labels: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Mon"],
					datasets: [
						{
							highlightFill: "#45668e",
							highlightStroke: "#45668e",
							fillColor: "#1ABC9C",
							strokeColor: "#1ABC9C",
							data: [90, 90, 90, 90, 90, 90, 90]
						},
						{
							highlightFill: "#1abc9c",
							highlightStroke: "#1abc9c",
							fillColor: "#45668e",
							strokeColor: "#45668e",
							data: [90, 85, 75, 65, 75, 85, 90]
						}
					]

				};
				new Chart(document.getElementById("bar").getContext("2d")).Bar(barChartData);
			</script>
		</div>
		<div class="main_right">

			
			
			<div style="margin-top:20%"class="diagram">
				<canvas id="doughnut" height="200" width="200"></canvas>
				<h4>Percent <span>(%)</span></h4>
			</div>
			<script>
				var doughnutData = [
					{
						value: 20,
						color: "#FFA500",
						highlight: "#1abc9c",
						label: "Food & Beverage"
					},
					{
						value: 20,
						color: "#008000",
						highlight: "#1abc9c",
						label: "Housing"
					},
					{
						value: 20,
						color: "#FF0000",
						highlight: "#1abc9c",
						label: "Transportation"
					},
					{
						value: 20,
						color: "#800080",
						highlight: "#1abc9c",
						label: "Clothing & Accessories"
					},
					{
						value: 20,
						color: "#FFC0CB",
						highlight: "#1abc9c",
						label: "Entertainment & Hobbies"
					}

				];

				new Chart(document.getElementById("doughnut").getContext("2d")).Doughnut(doughnutData);
			</script>
			<ul>
				<li><i class="color1"></i>Food & Beverage</li>
				<li><i class="color2"></i>Housing</li>
				<li><i class="color3"></i>Transportation</li>
				<li><i class="color4"></i>Clothing & Accessories</li>
				<li><i class="color5"></i>Entertainment & Hobbies</li>
			</ul>
		</div>
		<div class="clear"> </div>
	</div>
	<br />

	<div style="width:70%;padding:4%;background-color:aquamarine" class="container">
		<h1 style="text-align:center;margin:auto;">Add New Expenditure</h1>
		<br />
		<form class="row g-3">
			<div class="col-md-6">
				<label for="inputReciever4" class="form-label">Reciever</label>
				<input type="text" class="form-control" id="inputReciever4">
			</div>
			<div class="col-md-6">
				<label for="inputAmount" class="form-label">Amount</label>
				<input type="text" class="form-control" id="inputAmount4">
			</div>
			<div class="col-12">
				<label for="inputDescription" class="form-label">Description</label>
				<input type="text" class="form-control" id="inputDescription">
			</div>
			<div class="col-6">
				<label for="inputDate" class="form-label">Date</label>
				<input type="date" class="form-control" id="inputDate">
			</div>
			<div class="col-md-6">
				<label for="inputCategory" class="form-label">Category</label>
				<select id="inputCategory" class="form-select">
					<option selected>Choose...</option>
					<option>Food & Beverage</option>
					<option>Housing</option>
					<option>Transportation</option>
					<option>Clothing & Accessories</option>
					<option>Entertainment & Hobbies</option>
				</select>
			</div>
			<div class="col-12 d-flex justify-content-center">
				<button type="submit" class="btn btn-primary" style="width:40%;margin-top:3%">Sign in</button>
			</div>
		</form>

	</div>
	<!-- //main -->
</body>
</html>
