@{
    ViewData["Title"] = "Home Page";
}
@if (TempData["status"] != null)
{
    <div class="alert alert-info" role="alert">
        @TempData["status"]
    </div>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

Hellloooo