@{
    ViewData["Title"] = "Home Page";
}
@if (TempData["status"] != null)
{
    <div class="alert alert-info" role="alert">
        @TempData["status"]
    </div>
}

<!DOCTYPE HTML>

<html>
<head>
	<title>Typify by TEMPLATED</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="assets/css/main.css" />
	<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
</head>
<body>

	<!-- Banner -->
	<section id="banner">
		<h2><strong>WalletGraphs</strong> is a Pathway to Financial Empowerment</h2>
		<p>Unleash Financial Potential</p>
		<ul class="actions">
			<li><a href="#" class="button special">Get started</a></li>
		</ul>
	</section>

	<!-- One -->
	<section id="one" class="wrapper special">
		<div class="inner">
			<header class="major">
				<h2>Benefits of WalletGraphs</h2>
			</header>
			<div class="features">
				<div class="feature">
					<i class="fa fa-diamond"></i>
					<h3>Set Financial Goals</h3>
					<p>Set budget goals and plan for financial success with WalletGraphs</p>
				</div>
				<div class="feature">
					<i class="fa fa-copy"></i>
					<h3>Categorize Your Expenses</h3>
					<p>Improve financial management by categorizing your expenses with ease</p>
				</div>
				<div class="feature">
					<i class="fa fa-paper-plane-o"></i>
					<h3>Expense Analysis</h3>
					<p>Detailed expense analysis and the opportunity to enhance your spending habits</p>
				</div>
				<div class="feature">
					<i class="fa fa-save"></i>
					<h3>Secure Data Storage</h3>
					<p>Secure data storage and convenient access for your financial information</p>
				</div>
				<div class="feature">
					<i class="fa fa-envelope-o"></i>
					<h3>Personalized Notifications</h3>
					<p>Track your financial goals with personalized notifications from WalletGraphs</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Two -->
	<section id="two" class="wrapper style2 special">
		<div class="inner narrow">
			<header>
				<h2>Get in touch</h2>
			</header>
			<form class="grid-form" method="post" action="#">
				<div class="form-control narrow">
					<label for="name">Name</label>
					<input name="name" id="name" type="text">
				</div>
				<div class="form-control narrow">
					<label for="email">Email</label>
					<input name="email" id="email" type="email">
				</div>
				<div class="form-control">
					<label for="message">Message</label>
					<textarea name="message" id="message" rows="4"></textarea>
				</div>
				<ul class="actions">
					<li><input value="Send Message" type="submit"></li>
				</ul>
			</form>
		</div>
	</section>
	<section id="copyright" class="wrapper style2 special">
		Site made with: <a href="https://templated.co/">Templated</a>.
	</section>



	<!-- Footer -->
	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="assets/js/main.js"></script>

</body>
</html>