<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts@3.28.0/dist/apexcharts.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/apexcharts@3.28.0/dist/apexcharts.min.css" />
</head>
<body>
    <div id="apexcharts-doughnut"></div>

    <script>
        var options = {
            chart: {
                height: 350,
                type: "donut",
            },
            dataLabels: {
                enabled: false
            },
            series: [44, 55, 13, 33]
        };

        var chart = new ApexCharts(
            document.querySelector("#apexcharts-doughnut"),
            options
        );

        chart.render();
    </script>
</body>
</html>
