
@model User
<!-- Section: Design Block -->

<style>
    #submit-button {
        display: block;
        margin: 0 auto;
        width: 30%;
    }
</style>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
        function validatePasswords(event) {
            var pass1 = document.getElementById("form3Example4").value;
            var pass2 = document.getElementById("form3Example5").value;
            if (pass1 != pass2) {
                alert("Passwords Did Not Match");
                event.preventDefault();
            }
     
        }
        </script>
}

@if(TempData["status"] != null)
{
    <div>@TempData["status"]</div>
}

<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
        <div class="container">
            <div class="row gx-lg-5 align-items-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <h1 class="my-5 display-3 fw-bold ls-tight">
                        WalletGraphs <br />
                        <span class="text-primary">for your finance</span>
                    </h1>
                    <p style="color: hsl(217, 10%, 50.8%)">
                        SignUp and track your budget now!
                    </p>
                </div>

                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card">
                        <div class="card-body py-5 px-md-5">

                            <form asp-controller="Home" asp-action="Register" method="post" onsubmit="validatePasswords(event);">
                                <!-- 2 column grid layout with text inputs for the first and last names -->
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input asp-for="Name" type="text" id="form3Example1" class="form-control" />
                                            <label class="form-label" for="form3Example1">First name</label>
                                            <span style="color:red" asp-validation-for="Name"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input asp-for="Surname" type="text" id="form3Example2" class="form-control" />
                                            <label class="form-label" for="form3Example2">Last name</label>
                                                <span style="color:red" asp-validation-for="Surname"></span>
                                        </div>
                                    </div>
                                </div>

                                <!-- Email input -->
                                <div class="form-outline mb-4">
                                    <input asp-for="Email" type="email" id="form3Example3" class="form-control" />
                                    <label class="form-label" for="form3Example3">Email address</label>
                                        <span style="color:red" asp-validation-for="Email"></span>
                                </div>

                                <!-- Password input -->
                                <div class="form-outline mb-4">
                                    <input asp-for="Password" type="password" id="form3Example4" class="form-control" />
                                    <label class="form-label" for="form3Example4">Password</label>
                                        <span style="color:red" asp-validation-for="Password"></span>
                                </div>

                                <!-- Confirm Password input -->
                                <div class="form-outline mb-4">
                                    <input type="password" id="form3Example5" class="form-control" />
                                    <label class="form-label" for="form3Example5">Confirm Password</label>
                                </div>

                                <!-- Submit button -->
                                <button type="submit" class="btn btn-primary btn-block mb-4" id="submit-button">
                                    SignUp
                                </button>  
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->




